apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
spec:
  replicas: {{ item.replicas }}
  selector:
    matchLabels:
      app: {{ item.name }}
  template:
    metadata:
      labels:
        app: {{ item.name }}
    spec:
      containers:
        - name: {{ item.name }}
          image: {{ item.image_api }}
          ports:
            - containerPort: {{ item.container_port }}