apiVersion: v1
kind: Service
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
spec:
  selector:
    app: {{ item.name }}
  ports:
    - protocol: TCP
      port: {{ item.service_port }}
      targetPort: {{ item.container_port }}
  type: {{ item.service_type }}