/infrastructure/cluster/terraform/.terraform
/infrastructure/cluster/terraform/.terraform.lock.hcl
/infrastructure/cluster/terraform/terraform.tfstate
/infrastructure/cluster/terraform/test.tfvars
.vscode/settings.json
backup.READMD.md