/infrastructure/cluster/terraform/.terraform
/infrastructure/cluster/terraform/.terraform.lock.hcl
/infrastructure/cluster/terraform/terraform.tfstate
/infrastructure/cluster/terraform/test.tfvars
.vscode/settings.json
backup.README.md
env
.vscode
dbt-dag/.astro
dbt-dag/.venv
dbt-dag/__pycache__